<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="static/assets/images/TEJORY_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/assets/css/public/style.css">
    <link href="https://fonts.cdnfonts.com/css/nexa-bold" rel="stylesheet">




</head>


<body>
    <main class="w-full bg-white h-auto min-h-dvh dark:bg-neutral-900">
        <nav class="bg-white fixed w-full z-40 dark:bg-neutral-900 ">
            <div class="mx-auto px-2 sm:px-6 lg:px-8">
                <div class="relative flex h-16 items-center justify-between">
                    <div class="absolute inset-y-0 left-0 flex items-center lg:hidden">
                        <!-- Mobile menu button-->
                        <button type="button"
                            class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                            aria-controls="mobile-menu" aria-expanded="false" onclick="menu()">
                            <span class="absolute -inset-0.5"></span>
                            <span class="sr-only">Open main menu</span>
                            <!--
                                Icon when menu is closed.
                    
                                Menu open: "hidden", Menu closed: "block"
                                -->
                            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                            <!--
                                Icon when menu is open.
                    
                                Menu open: "block", Menu closed: "hidden"
                                -->
                            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                    <div class="flex flex-1 items-center justify-center lg:items-stretch lg:justify-start">
                        <div class="flex flex-shrink-0 items-center">
                            <a href="index.html"><img id="logo" class="h-6 w-auto "
                                    src="static/assets/images/TEJORY-1.png" alt="" sizes="" srcset=""></a>
                        </div>
                        <div class="hidden lg:ml-6 lg:block">
                            <div class="flex space-x-4">
                                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                                <a href="https://tejory.io/features.html"
                                    class="rounded-md px-3 py-2 text-sm font-semibold text-black hover:bg-gray-700 hover:text-white dark:text-white transition-colors duration-300">Features</a>
                                <a href="https://tejory.io/screenshot.html"
                                    class="rounded-md px-3 py-2 text-sm font-semibold text-black hover:bg-gray-700 hover:text-white dark:text-white transition-colors duration-300">Screenshots</a>
                                <a href=""
                                    class="rounded-md px-3 py-2 text-sm font-semibold text-black hover:bg-gray-700 hover:text-white dark:text-white transition-colors duration-300">Blog</a>
                                <a href="https://tejory.io/roadmap.html"
                                    class="rounded-md px-3 py-2 text-sm font-semibold text-black hover:bg-gray-700 hover:text-white dark:text-white transition-colors duration-300">Road
                                    Map</a>
                                <a href="https://tejory.io/apps.html"
                                    class="rounded-md px-3 py-2 text-sm font-semibold text-black hover:bg-gray-700 hover:text-white dark:text-white transition-colors duration-300">Apps</a>
                                <a href="https://tejory.io/contactus.html"
                                    class="rounded-md px-3 py-2 text-sm font-semibold text-black hover:bg-gray-700 hover:text-white dark:text-white transition-colors duration-300">Contact
                                    Us</a>
                                <a href="https://tejory.io/privacy.html"
                                    class="rounded-md px-3 py-2 text-sm font-semibold text-black hover:bg-gray-700 hover:text-white dark:text-white transition-colors duration-300">Privacy
                                    Policy</a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="hidden relative lg:flex absolute inset-y-0 right-0 items-center pr-2 lg:static lg:inset-auto lg:ml-6 lg:pr-0">
                        <div class="flex gap-3 justify-center items-center">
                            <svg class="theme-toggle-light-icon h-6 w-6 text-white hover:text-slate-600"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-sun">
                                <circle cx="12" cy="12" r="5"></circle>
                                <line x1="12" y1="1" x2="12" y2="3"></line>
                                <line x1="12" y1="21" x2="12" y2="23"></line>
                                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                                <line x1="1" y1="12" x2="3" y2="12"></line>
                                <line x1="21" y1="12" x2="23" y2="12"></line>
                                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                            </svg>
                            <svg class="theme-toggle-dark-icon hidden hover:text-slate-600 w-5 h-5" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                            </svg>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="hidden" id="mobile-menu">
                <div class="space-y-1 px-2 pb-3 pt-2">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="https://tejory.io/features.html"
                        class="block rounded-md px-3 py-2 text-sm font-semibold text-black hover:bg-gray-700 hover:text-white dark:text-white transition-colors duration-300">Features</a>
                    <a href="https://tejory.io/screenshot.html"
                        class="block rounded-md px-3 py-2 text-sm font-semibold text-black hover:bg-gray-700 hover:text-white dark:text-white transition-colors duration-300">Screenshots</a>
                    <a href=""
                        class="block rounded-md px-3 py-2 text-sm font-semibold text-black hover:bg-gray-700 hover:text-white dark:text-white transition-colors duration-300">Blog</a>
                    <a href="https://tejory.io/roadmap.html"
                        class="block rounded-md px-3 py-2 text-sm font-semibold text-black hover:bg-gray-700 hover:text-white dark:text-white transition-colors duration-300">Road
                        Map</a>
                    <a href="https://tejory.io/apps.html"
                        class="block rounded-md px-3 py-2 text-sm font-semibold text-black hover:bg-gray-700 hover:text-white dark:text-white transition-colors duration-300">Apps</a>
                    <a href="https://tejory.io/contactus.html"
                        class="block rounded-md px-3 py-2 text-sm font-semibold text-black hover:bg-gray-700 hover:text-white dark:text-white transition-colors duration-300">Contact
                        Us</a>
                    <a href="https://tejory.io/privacy.html"
                        class="block rounded-md px-3 py-2 text-sm font-semibold text-black hover:bg-gray-700 hover:text-white dark:text-white transition-colors duration-300">Privacy
                        Policy</a>
                </div>
                <div class="space-y-1 px-2 pb-3 pt-2 pl-5">
                    <svg class="theme-toggle-light-icon h-6 w-6 text-white hover:text-slate-600"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun">
                        <circle cx="12" cy="12" r="5"></circle>
                        <line x1="12" y1="1" x2="12" y2="3"></line>
                        <line x1="12" y1="21" x2="12" y2="23"></line>
                        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                        <line x1="1" y1="12" x2="3" y2="12"></line>
                        <line x1="21" y1="12" x2="23" y2="12"></line>
                        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                    </svg>
                    <svg class="theme-toggle-dark-icon hidden hover:text-slate-600 w-5 h-5" fill="currentColor"
                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                </div>

            </div>
        </nav>

        <div
            class="text-base pt-20 pb-5 text-center lg:px-[180px] dark:text-white font-bold flex items-center justify-center lg:justify-between gap-5  bg-neutral-100 dark:bg-neutral-800">
            <p class="hidden  md:flex">Introducing the Tejory App</p>
            <a href="https://tejory.io/apps.html"><button type="button"
                    class="hidden  md:flex text-white bg-neutral-800 border border-white focus:outline-none hover:bg-neutral-700 focus:ring-4 focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-neutral-900 dark:text-white dark:border-white dark:hover:bg-neutral-900 dark:hover:border-neutral-600 dark:focus:ring-gray-700">Download
                    Now</button></a>
            <a class="flex md:hidden underline" href="https://tejory.io/apps.html">Introducing the Tejory App</a>
        </div>

        <div class="px-8 pt-20 pb-5 lg:px-[25%] dark:text-white">
            <p class="text-2xl lg:text-5xl font-semibold">{{ page.title }}</p>
            <p class="text-lg text-gray-700 dark:text-gray-400 py-2">{{ page.subtitle }}</p>
            <p class="mb-5"><strong>Published on:</strong> {{ page.date | date: "%B %d, %Y" }}</p>
            <img src="{{ page.images }}" alt="">
            <div class="content mt-5">

                {{ page.body }}
                {{ content }}
            </div>
        </div>


        <footer class="px-10 relative bottom-0 w-full dark:bg-neutral-900 ">
            <div class="h-1 w-full bg-divider-dark"></div>
            <div class="flex justify-center gap-2 flex-col p-2">
                <p class="text-sm text-center md:text-md dark:text-white">Hosted by: <a class="cursor-pointer"
                        href="https://github.com/integrityph/Tejory">Github</a></p>
                <p class="text-sm text-center md:text-md dark:text-white">Tejory © <span id="yyyy"></span></p>
            </div>
        </footer>
    </main>

    <script src="static/assets/js/base.js"></script>
    <script src="static/assets/js/blog.js"></script>
    <script src="static/assets/js/swiper/swiper.js"></script>

</body>

</html>